
.font-color{
    color: white;
}
.bg-color{
    background-color: black;
}
.brand-name{
    color:#E6533C;
}
.display-flex{
    display: flex;
}
.menu{
    text-decoration: none;
    color: white;
   
   
}


.menu-ber:hover{
    background-color:#E6533C ;
    width: 50px;
    height: 30px;
 
    border-radius: 40px;
    transition: 0.5s;
   
}
.menu-ber{
    list-style: none;
  
}
.menu-head{
    gap: 20px;
     align-items: center;
}
.navber{
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.banner-header{
    max-width: 520px;
    font-size: 4.85rem;
    margin-bottom: 28px;
}
.banner{
    justify-content: space-between;
    padding-left:100px ;
    padding-right:100px ;
    background-color:rgba(17, 17, 17, 1);
}
.banner-img{
    max-width: 349px;
}
.banner-pra{
    max-width: 520px;
    font-size: 1rem;
}
.banner-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color:rgba(17, 17, 17, 1);
    color: white;
    border: 1px solid white;
   
}
.btn{
    margin-right: 20px;
}
.banner-btn:hover{
    background-color:#E6533C ;
    transition: 1s;
}
.habits-header , .habits-pra{
    text-align: center;
}
.habits-header{
    font-size: 3rem;
    margin-bottom:14px ;
}
.profile-container{
    justify-content: space-evenly;
}
.habits-pra{
    font-size: 0.8rem;
}
.img-div{
    max-width: 230px;
    height: 275px;
    text-align: center;
    margin-top: 58px;
}
.profile{
    border-radius: 100px;
}
.run{
    height: 312px;
    width: 366px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; ;
}
.fitness-container{
    margin-top: 100px;
    justify-content: space-between;
    background-color:rgba(34, 34, 34, 1) ;
    padding: 40px;
    margin: 190px;
    border-radius: 10px;
}
.fitness-header{
    max-width: 350px;
    font-size: 3rem;
}
.fitness-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: 1px solid white;
    background-color:rgba(34, 34, 34, 1) ;
    color: white;
}
.fitness-btn:hover{
    background-color: #E6533C;
    transition: 0.9s;
}
.fitness-pra{
    max-width: 443px;
}
.bmi-header, .bmi-pra{
    text-align: center;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.Calculator{
    justify-content: space-between;
}
.calculatore-header{
    font-size: 1.75rem;
}
.Calculator-pra{
    font-size: 0.8rem;
}
.form{
    width: 280px;
    height: 48px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.1) ;
  margin-bottom: 12px;
  margin-left: 12px;
}
.form-1{
    width: 577px;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 12px;
    margin-left:10px;
    background-color:rgba(255, 255, 255, 0.1) ;
}
.c-btn{
    margin-left: 10px;
    margin-top: 20px;
}
@media screen and (max-width:576px) {
    .navber{
        padding-left: 5px;
        padding-right: 5px;
    }
    .banner{
        flex-direction: column;
        padding-left:20px ;
         
    }
    .banner-header{
        font-size:  2rem;
        max-width: 205px;
        margin-bottom: 14px;
    }
    .banner-pra{
        font-size: 0.5rem;
    }
    .banner-btn{
        height: 30px;
        width: 100px;
        font-size:0.5rem ;
    }
    .btn-div{
        display: flex;
    }
    .btn{
      margin-right: 5px;  
    }
    .profile-container{
        flex-direction: column;
        align-items: center;
    }
    .habits-pra{
          font-size:0.5rem ;
    }
    .habits-header{
        font-size: 2rem;
    }
    .profile-pra{
        font-size: 0.5rem;
    }
    .profile-header{
        font-size: 1rem;
    }
    .fitness-container{
        flex-direction: column; 
    padding: 30px;
    margin: 20px; 
        
    }
    .run{
    height:170px;
    width: 240px;
    padding: 30px;
    margin-left: -20px;
    border-radius: 18px;
   }
   .fitness-header{
    max-width: 287px;
    font-size: 2rem;
}
.fitness-pra{
    font-size: 0.8rem;
}
.fitness-btn{
   width: 250px;
}
}